<table id="issues-table" class="table table-striped table-hover table-condensed hidden">
    <thead>
    <tr>
        <th>ID</th>
        <th>Title</th>
        <th>Reported By</th>
        <th>Assignee</th>
        <th>Milestone</th>
        <th></th>
    </tr>

    </thead>
    <tbody>
    <tr ng-repeat="issue in issues">
        <td>{{ issue.local_id }}</td>
        <td>{{ issue.title }}</td>
        <td>{{ issue.reported_by.display_name }}</td>
        <td>{{ issue.responsible.display_name }}</td>
        <td>
            <select ng-model="issue.metadata.milestone" name="milestone" ng-change="updateMilestone(issue)">
                <option value="{{ milestone.name }}" data-ng-repeat="milestone in milestones">{{ milestone.name }}</option>
            </select>
            <!--<div class="btn-group search-name">
                <a class="btn btn-info btn-sm">{{ issue.metadata.milestone }}</a>
                <a data-target="#" class="btn btn-info dropdown-toggle btn-sm" data-toggle="dropdown"><span class="caret"></span></a>
                <ul class="dropdown-menu">
                    <li><a ng-click="updateMilestone(milestone, issue.local_id)" ng-repeat="milestone in milestones">{{ milestone.name }}</a></li>
                </ul>
            </div>-->
        </td>
        <td>
            <!--<a href="#/edit-issue/{{ issue.local_id }}" class="btn btn-material-blue-800 btn-xs btn-action"
               data-toggle="tooltip" data-placement="right" title="" data-original-title="COMMENTS">
                <i class="mdi-communication-forum icon-action"></i>
            </a>
            <a href="#/edit-issue/{{ issue.local_id }}" class="btn btn-success btn-xs btn-action"
               data-toggle="tooltip" data-placement="right" title="" data-original-title="VIEW">
                <i class="mdi-action-list icon-action"></i>
            </a>-->
            <a href="#/edit-issue/{{ issue.local_id }}" class="btn btn-info btn-xs btn-action"
               data-toggle="tooltip" data-placement="right" title="" data-original-title="EDIT">
                <i class="mdi-editor-mode-edit icon-action"></i>
            </a>
        </td>
    </tr>

    </tbody>
</table>