<style>

    body {
        font-family: "Roboto", 'Helvetica Neue, Helvetica, Arial', sans-serif;
        background: #ffffff;
        /*Light Blue 800*/
    }

    /* -- button styles ------------------------------------- */

    /*-- signin-card animation ---------------------------------------- */
    /*.signin-card {
        -webkit-animation: cardEnter 0.75s ease-in-out 0.5s;
        animation: cardEnter 0.75s ease-in-out 0.5s;
        -webkit-animation-fill-mode: both;
        animation-fill-mode: both;
        opacity: 0;
    }*/

    /* -- login paper styles ------------------------------ */
    .signin-card {
        max-width: 350px;
        border-radius: 2px;
        margin: 20px auto;
        padding: 20px;
        background-color: #eceff1;
        /*Blue Grey 50 */
        box-shadow: 0 10px 20px rgba(0, 0, 0, .19),
        0 6px 6px rgba(0, 0, 0, .23);
        /*shadow depth 3*/
    }

    /* -- font styles ------------------------------------- */
    .display1 {
        font-size: 28px;
        font-weight: 100;
        line-height: 1.2;
        color: #757575;
        text-transform: inherit;
        letter-spacing: inherit;
    }

    .subhead {
        font-size: 16px;
        font-weight: 300;
        line-height: 1.1;
        color: #212121;
        text-transform: inherit;
        letter-spacing: inherit;
    }

    /* card animation from Animate.css -------------------- */
    @-webkit-keyframes cardEnter {
        0%, 20%, 40%, 60%, 80%, 100% {
            -webkit-transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
            transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
        }
        0% {
            opacity: 0;
            -webkit-transform: scale3d(0.3, 0.3, 0.3);
            -ms-transform: scale3d(0.3, 0.3, 0.3);
            transform: scale3d(0.3, 0.3, 0.3);
        }
        20% {
            -webkit-transform: scale3d(1.1, 1.1, 1.1);
            -ms-transform: scale3d(1.1, 1.1, 1.1);
            transform: scale3d(1.1, 1.1, 1.1);
        }
        40% {
            -webkit-transform: scale3d(0.9, 0.9, 0.9);
            -ms-transform: scale3d(0.9, 0.9, 0.9);
            transform: scale3d(0.9, 0.9, 0.9);
        }
        60% {
            opacity: 1;
            -webkit-transform: scale3d(1.03, 1.03, 1.03);
            -ms-transform: scale3d(1.03, 1.03, 1.03);
            transform: scale3d(1.03, 1.03, 1.03);
        }
        80% {
            -webkit-transform: scale3d(0.97, 0.97, 0.97);
            -ms-transform: scale3d(0.97, 0.97, 0.97);
            transform: scale3d(0.97, 0.97, 0.97);
        }
        100% {
            opacity: 1;
            -webkit-transform: scale3d(1, 1, 1);
            -ms-transform: scale3d(1, 1, 1);
            transform: scale3d(1, 1, 1);
        }
    }

    @keyframes cardEnter {
        0%, 20%, 40%, 60%, 80%, 100% {
            -webkit-transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
            transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
        }
        0% {
            opacity: 0;
            -webkit-transform: scale3d(0.3, 0.3, 0.3);
            -ms-transform: scale3d(0.3, 0.3, 0.3);
            transform: scale3d(0.3, 0.3, 0.3);
        }
        20% {
            -webkit-transform: scale3d(1.1, 1.1, 1.1);
            -ms-transform: scale3d(1.1, 1.1, 1.1);
            transform: scale3d(1.1, 1.1, 1.1);
        }
        40% {
            -webkit-transform: scale3d(0.9, 0.9, 0.9);
            -ms-transform: scale3d(0.9, 0.9, 0.9);
            transform: scale3d(0.9, 0.9, 0.9);
        }
        60% {
            opacity: 1;
            -webkit-transform: scale3d(1.03, 1.03, 1.03);
            -ms-transform: scale3d(1.03, 1.03, 1.03);
            transform: scale3d(1.03, 1.03, 1.03);
        }
        80% {
            -webkit-transform: scale3d(0.97, 0.97, 0.97);
            -ms-transform: scale3d(0.97, 0.97, 0.97);
            transform: scale3d(0.97, 0.97, 0.97);
        }
        100% {
            opacity: 1;
            -webkit-transform: scale3d(1, 1, 1);
            -ms-transform: scale3d(1, 1, 1);
            transform: scale3d(1, 1, 1);
        }
    }

    .logo-image, .display1, .subhead {
        text-align: center;
    }
</style>


<div style="width:1000px !important;" class="container">
    <div id="login" class="signin-card">
        <div class="logo-image">
            <img src="assets/img/icon.png" alt="Logo" title="Logo">
        </div>
        <h1 class="display1">Bitbucket Issue Tracker</h1>

        <!--<p class="subhead">by: Ernest</p>-->

        <form class="" role="form" ng-submit="validate(user)" novalidate>

            <div id="form-login-username" class="form-group" ng-class="{'has-error':!user.username.valid}">

                <label class="control-label" for="password">Username </label>

                <div class="form-control-wrapper">
                    <input ng-model="user.username.value" id="username" type="username" class="form-control empty" ng-change="checkValidity(user.username)" required>
                    <span class="material-input"></span></div>

            </div>

            <div id="form-login-password" class="form-group" ng-class="{'has-error':!user.password.valid}">

                <label class="control-label" for="password">Password </label>

                <div class="form-control-wrapper">
                    <input ng-model="user.password.value" id="password" type="password" class="form-control empty" ng-change="checkValidity(user.password)" required>
                    <span class="material-input"></span></div>

            </div>

            <!--<div id="form-login-team" class="form-group">

                <label class="control-label" for="team">Team Name </label>

                <div class="form-control-wrapper">
                    <input ng-model="user.team.value" id="team" type="text" class="form-control empty">
                    <span class="material-input"></span></div>

            </div>

            <div id="form-login-repository" class="form-group" ng-class="{'has-error':!user.repository.valid}">

                <label class="control-label" for="repository">Repository </label>

                <div class="form-control-wrapper">
                    <input ng-model="user.repository.value" id="repository" type="text" class="form-control empty" ng-change="checkValidity(user.repository)"  required>
                    <span class="material-input"></span></div>

            </div>-->

            <div>
                <button class="btn btn-block btn-info ripple-effect" type="submit" name="Submit" alt="sign in" data-ng-disabled="!loginValidity(user)">
                    <i ng-show="isLoggingIn" class="fa fa-circle-o-notch fa-spin"></i>
                    Sign in
                </button>
            </div>
        </form>
    </div>
</div>